# Compiled Object files
*.slo
*.lo
*.o
*.mk

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*/Debug/*
*/Release/*
*/bin/*
*/obj/*

# Doxygen Generated Doc
*/doc/html/*
*/doc/man/*
*/doc/latex/*

#Code Blocks
*.depend
*.layout

#Eclipse Workspace metadata
.metadata/*

#Sublime Text Files
*.sublime*
