# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/Debug
/bin

# Doxygen Generated Doc
/doc/html/*
/doc/man/*
/doc/latex/*

/Release

#Eclipse Project Files
.cproject
.project

#Data Folder (Is anotehr repo)
/data

#Sublime Text Files
*.sublime*